main {
  padding-top: 80px;
  padding-bottom: 80px;
}

section {
  display: block;
}

/* Contenedor general */
#carouselDestacados {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 0 5px 0; /* 20px arriba, 40px abajo */
}

/* Inner carousel */
#carouselDestacados .carousel-inner {
  height: auto;
  min-height: 550px; /* ajusta según el tamaño de la card */
}


/* Cada item */
#carouselDestacados .carousel-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 300px; /* antes 300px, ahora más grande */
}


/* Producto central */
#carouselDestacados .carousel-item.active {
  z-index: 3;
}

/* Producto previo y siguiente */
#carouselDestacados .carousel-item.prev,
#carouselDestacados .carousel-item.next {
  z-index: 2;
}

/* Indicadores */
#carouselDestacados .carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* aumenta la separación desde la carta */
  gap: 10px;
  position: relative; 
}

#carouselDestacados .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #726d6d;
  transition: background-color 0.3s;
}

#carouselDestacados .carousel-indicators button.active {
  background-color: #131212;
}

/* Botones prev/next */
#carouselDestacados .carousel-prev,
#carouselDestacados .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.8);
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

#carouselDestacados .carousel-prev { left: 100px; }
#carouselDestacados .carousel-next { right: 100px; }

/* Card */
#carouselDestacados .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 100%;
  height: 1000px; /* antes 200px, ahora más alto */
}

/* Imagen */
#carouselDestacados .card-img-top {
  width: 100%;
  height: 370px; /* ajusta según el nuevo tamaño */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Card body */
#carouselDestacados .card-body {
  padding: 15px;
  text-align: center;
}

#inicio .container.text-center.my-5 {
  margin-top: 5px; /* reduce la distancia desde el hero */
  margin-bottom: 40px; /* mantiene separación inferior */
}
