main {
    padding-top: 80px;
    padding-bottom: 80px;
}

section {
    display: none;
}

section.active {
    display: block;
}

.categories .nav-link {
    margin: 0 15px;
    font-weight: 500;
    color: rgb(133, 168, 232);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

.categories .nav-link:hover {
    color: rgb(17, 38, 77);
    border-bottom: 2px solid rgb(31, 60, 112);
}

.categories .nav-link.active {
    color: rgb(17, 38, 77) ;
    border-bottom: 2px solid rgb(31, 60, 112);
    background-color: transparent ;
}

#productoModal img {
  max-height: 560px;  
  width: auto;        
  display: block;
  margin: 0 auto;     
}

.modal-dialog {
  max-width: none;        
  width: auto;           
  min-width: 450px;       
  display: flex;
  justify-content: center; 
  margin: 1.75rem auto;    
}
.modal-content {
  display: inline-block;
  width: auto; 
}

.modal-body {
  padding: 0; 
}

.card {
  margin: 0;
}

.card-img-top {
  width: 100%; 
  display: block;
  border-radius: 0; }

.product-card {
  cursor: pointer;
}
